
USE bdsdanang
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/27/2022 12:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[About]    Script Date: 5/27/2022 12:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[About](
	[AboutID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Content] [ntext] NULL,
	[Avatar] [nvarchar](255) NULL,
	[Thumb] [nvarchar](255) NULL,
	[Icon] [nvarchar](255) NULL,
	[ImageList] [nvarchar](4000) NULL,
	[Email] [nvarchar](255) NULL,
	[Mobi1] [nvarchar](20) NULL,
	[Address] [nvarchar](400) NULL,
	[Facebook] [nvarchar](255) NULL,
	[GooglePlus] [nvarchar](255) NULL,
	[Zalo] [nvarchar](255) NULL,
	[CreateTime] [datetime] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[Mobi2] [nvarchar](20) NULL,
	[Messenger] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo.About] PRIMARY KEY CLUSTERED 
(
	[AboutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 5/27/2022 12:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](150) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Thumb] [nvarchar](255) NULL,
	[FullName] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Mobi] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[Gender] [bit] NULL,
	[Status] [bit] NULL,
	[CreateTime] [datetime] NULL,
	[AccountCategoryID] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Account] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountCategory]    Script Date: 5/27/2022 12:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountCategory](
	[AccountCategoryID] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Description] [nvarchar](4000) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Thumb] [nvarchar](255) NULL,
	[Status] [bit] NULL,
	[Position] [int] NULL,
 CONSTRAINT [PK_dbo.AccountCategory] PRIMARY KEY CLUSTERED 
(
	[AccountCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Article]    Script Date: 5/27/2022 12:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[ArticleID] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NULL,
	[Code] [nvarchar](50) NULL,
	[Title] [nvarchar](255) NULL,
	[TitleUrl] [nvarchar](255) NULL,
	[TitleShort] [nvarchar](50) NULL,
	[TitleShortUrl] [nvarchar](255) NULL,
	[Description] [nvarchar](4000) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Thumb] [nvarchar](255) NULL,
	[Icon] [nvarchar](255) NULL,
	[ImageList] [nvarchar](4000) NULL,
	[AttachmentFile] [nvarchar](4000) NULL,
	[Content] [ntext] NULL,
	[LinkUrl] [nvarchar](255) NULL,
	[LinkTitle] [nvarchar](50) NULL,
	[LinkTarget] [nvarchar](10) NULL,
	[ViewTime] [int] NULL,
	[Status] [bit] NULL,
	[Position] [int] NULL,
	[CreateTime] [datetime] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[MetaTitle] [nvarchar](255) NULL,
	[MetaDescription] [nvarchar](4000) NULL,
	[MetaKeyword] [nvarchar](4000) NULL,
 CONSTRAINT [PK_Article] PRIMARY KEY CLUSTERED 
(
	[ArticleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 5/27/2022 12:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[FullName] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Mobi] [nvarchar](20) NULL,
	[Content] [ntext] NULL,
	[AttachmentFileUrl] [nvarchar](512) NULL,
	[AttachmentFileName] [nvarchar](512) NULL,
	[Status] [int] NULL,
	[CreateTime] [datetime] NULL,
	[ApproveBy] [nvarchar](50) NULL,
	[Title] [nvarchar](200) NULL,
	[ParentID] [int] NULL,
 CONSTRAINT [PK_dbo.Contact] PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Picture]    Script Date: 5/27/2022 12:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Picture](
	[PictureID] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NULL,
	[Code] [nvarchar](50) NULL,
	[Title] [nvarchar](500) NULL,
	[Description] [nvarchar](4000) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Thumb] [nvarchar](255) NULL,
	[Icon] [nvarchar](255) NULL,
	[ImageList] [nvarchar](4000) NULL,
	[AttachmentFile] [nvarchar](4000) NULL,
	[Content] [ntext] NULL,
	[LinkUrl] [nvarchar](255) NULL,
	[LinkTitle] [nvarchar](50) NULL,
	[LinkTarget] [nvarchar](10) NULL,
	[Status] [bit] NULL,
	[Position] [int] NULL,
	[CreateTime] [datetime] NULL,
	[ViewTime] [int] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[MetaTitle] [nvarchar](255) NULL,
	[MetaDescription] [nvarchar](4000) NULL,
	[MetaKeyword] [nvarchar](4000) NULL,
 CONSTRAINT [PK_dbo.Picture] PRIMARY KEY CLUSTERED 
(
	[PictureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/27/2022 12:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NULL,
	[ProductTypeID] [int] NULL,
	[Code] [nvarchar](50) NULL,
	[Title] [nvarchar](200) NULL,
	[ShortDescription] [nvarchar](500) NULL,
	[Description] [nvarchar](4000) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Thumb] [nvarchar](255) NULL,
	[Icon] [nvarchar](255) NULL,
	[ImageList] [nvarchar](4000) NULL,
	[AttachmentFile] [nvarchar](4000) NULL,
	[Content] [ntext] NULL,
	[LinkTitle] [nvarchar](50) NULL,
	[LinkUrl] [nvarchar](255) NULL,
	[LinkTarget] [nvarchar](10) NULL,
	[Price] [decimal](18, 2) NULL,
	[OldPrice] [decimal](18, 2) NULL,
	[Promotions] [nvarchar](4000) NULL,
	[WarrantyPolicy] [nvarchar](4000) NULL,
	[Specifications] [nvarchar](4000) NULL,
	[Accessories] [nvarchar](4000) NULL,
	[Quantity] [int] NULL,
	[ViewTime] [int] NULL,
	[Status] [bit] NULL,
	[Position] [int] NULL,
	[CreateTime] [datetime] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[MetaTitle] [nvarchar](255) NULL,
	[MetaKeyword] [nvarchar](4000) NULL,
	[MetaDescription] [nvarchar](4000) NULL,
 CONSTRAINT [PK_dbo.Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 5/27/2022 12:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[ProductTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](4000) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Thumb] [nvarchar](255) NULL,
	[Icon] [nvarchar](255) NULL,
	[ImageList] [nvarchar](4000) NULL,
	[AttachmentFile] [nvarchar](4000) NULL,
	[Content] [ntext] NULL,
	[LinkUrl] [nvarchar](255) NULL,
	[LinkTitle] [nvarchar](50) NULL,
	[LinkTarget] [nvarchar](10) NULL,
	[ViewTime] [int] NULL,
	[Status] [bit] NULL,
	[Position] [int] NULL,
	[CreateTime] [datetime] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[MetaTitle] [nvarchar](255) NULL,
	[MetaDescription] [nvarchar](4000) NULL,
	[MetaKeyword] [nvarchar](4000) NULL,
 CONSTRAINT [PK_dbo.ProductType] PRIMARY KEY CLUSTERED 
(
	[ProductTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 5/27/2022 12:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[ProjectID] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NULL,
	[Code] [nvarchar](50) NULL,
	[Title] [nvarchar](500) NULL,
	[Description] [nvarchar](4000) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Thumb] [nvarchar](255) NULL,
	[Icon] [nvarchar](255) NULL,
	[ImageList] [nvarchar](4000) NULL,
	[AttachmentFile] [nvarchar](4000) NULL,
	[Content] [ntext] NULL,
	[LinkUrl] [nvarchar](255) NULL,
	[LinkTitle] [nvarchar](50) NULL,
	[LinkTarget] [nvarchar](10) NULL,
	[Status] [bit] NULL,
	[Position] [int] NULL,
	[CreateTime] [datetime] NULL,
	[ViewTime] [int] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[MetaTitle] [nvarchar](255) NULL,
	[MetaDescription] [nvarchar](4000) NULL,
	[MetaKeyword] [nvarchar](4000) NULL,
 CONSTRAINT [PK_dbo.Project] PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 5/27/2022 12:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[PreTitle] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NULL,
	[ButtonTop] [nvarchar](25) NULL,
	[ButtonBottom] [nvarchar](25) NULL,
	[Status] [bit] NULL,
	[Position] [int] NULL,
	[CreateTime] [datetime] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[Avatar] [nvarchar](50) NULL,
 CONSTRAINT [PK_Promotion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 5/27/2022 12:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NULL,
	[Code] [nvarchar](50) NULL,
	[Title] [nvarchar](500) NULL,
	[Description] [nvarchar](4000) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Thumb] [nvarchar](255) NULL,
	[Icon] [nvarchar](255) NULL,
	[ImageList] [nvarchar](4000) NULL,
	[AttachmentFile] [nvarchar](4000) NULL,
	[Content] [ntext] NULL,
	[LinkUrl] [nvarchar](255) NULL,
	[LinkTitle] [nvarchar](50) NULL,
	[LinkTarget] [nvarchar](10) NULL,
	[Status] [bit] NULL,
	[Position] [int] NULL,
	[CreateTime] [datetime] NULL,
	[ViewTime] [int] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[MetaTitle] [nvarchar](255) NULL,
	[MetaDescription] [nvarchar](4000) NULL,
	[MetaKeyword] [nvarchar](4000) NULL,
 CONSTRAINT [PK_dbo.Service] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slideshow]    Script Date: 5/27/2022 12:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slideshow](
	[SlideshowID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Description] [nvarchar](200) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Thumb] [nvarchar](255) NULL,
	[Status] [bit] NULL,
	[Position] [int] NULL,
	[Url] [nvarchar](255) NULL,
	[CreateTime] [datetime] NULL,
	[CreateBy] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Slideshow] PRIMARY KEY CLUSTERED 
(
	[SlideshowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[About] ON 

SET IDENTITY_INSERT [dbo].[About] OFF
GO
INSERT [dbo].[Account] ([Username], [Password], [Avatar], [Thumb], [FullName], [Email], [Mobi], [Address], [Gender], [Status], [CreateTime], [AccountCategoryID]) VALUES (N'admin', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', N'/fileuploads/Account/Avatar/0c030f1d692d457dac86153516bd2f61.jpeg', N'/fileuploads/Account/Thumb/0c030f1d692d457dac86153516bd2f61.jpeg', N'Nguyễn văn Quyền', N'vanquyenktktbd@gmail.com', N'0123559875', N'Bình Dương', 1, 1, CAST(N'2019-07-10T15:07:45.573' AS DateTime), N'Administrator')
INSERT [dbo].[Account] ([Username], [Password], [Avatar], [Thumb], [FullName], [Email], [Mobi], [Address], [Gender], [Status], [CreateTime], [AccountCategoryID]) VALUES (N'ngocthanh', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', N'/fileuploads/Account/Avatar/c479a82d4a3d4eaf825825f40c7d3f3a.jpeg', N'/fileuploads/Account/Thumb/c479a82d4a3d4eaf825825f40c7d3f3a.jpeg', N'Nguyễn Ngọc Thanh', N'admin@gmail.com', N'0123559875', N'BD', 1, 1, CAST(N'2019-07-10T15:07:35.713' AS DateTime), N'Administrator')
GO
INSERT [dbo].[AccountCategory] ([AccountCategoryID], [Title], [Description], [Avatar], [Thumb], [Status], [Position]) VALUES (N'Administrator', N'Quản trị viên cấp cao', N'Full Acess', NULL, NULL, 1, 1)
INSERT [dbo].[AccountCategory] ([AccountCategoryID], [Title], [Description], [Avatar], [Thumb], [Status], [Position]) VALUES (N'Mod', N'Đăng bài', N'Edit', NULL, NULL, 1, 2)
GO
SET IDENTITY_INSERT [dbo].[Article] ON 

SET IDENTITY_INSERT [dbo].[Article] OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([ContactID], [Code], [FullName], [Email], [Address], [Mobi], [Content], [AttachmentFileUrl], [AttachmentFileName], [Status], [CreateTime], [ApproveBy], [Title], [ParentID]) VALUES (64, N'ky-gui', N'Nguyễn Văn Quyền', N'nvquyen.cntt@gmail.com', NULL, N'0972332803', N'Test upload file', N'/fileuploads/Attached/b175c278c611064f5f00.jpg', N'b175c278c611064f5f00.jpg', 1, CAST(N'2022-05-25T15:33:20.793' AS DateTime), NULL, N'Thư ký gửi', NULL)
INSERT [dbo].[Contact] ([ContactID], [Code], [FullName], [Email], [Address], [Mobi], [Content], [AttachmentFileUrl], [AttachmentFileName], [Status], [CreateTime], [ApproveBy], [Title], [ParentID]) VALUES (65, N'ky-gui', N'Nguyễn Văn Quyền 1', N'nvquyen.cntt@gmail.com', NULL, N'0972332803', N'khoong file', NULL, NULL, 1, CAST(N'2022-05-25T15:43:54.477' AS DateTime), NULL, N'Thư ký gửi', NULL)
INSERT [dbo].[Contact] ([ContactID], [Code], [FullName], [Email], [Address], [Mobi], [Content], [AttachmentFileUrl], [AttachmentFileName], [Status], [CreateTime], [ApproveBy], [Title], [ParentID]) VALUES (66, N'ky-gui', N'Nguyễn Văn Quyền 2', N'nvquyen.cntt@gmail.com', NULL, N'0972332803', N'file ziop', N'/fileuploads/Attached/b175c278c611064f5f00.zip', N'b175c278c611064f5f00.zip', 1, CAST(N'2022-05-25T15:44:40.533' AS DateTime), NULL, N'Thư ký gửi', NULL)
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[Picture] ON 

INSERT [dbo].[Picture] ([PictureID], [ParentID], [Code], [Title], [Description], [Avatar], [Thumb], [Icon], [ImageList], [AttachmentFile], [Content], [LinkUrl], [LinkTitle], [LinkTarget], [Status], [Position], [CreateTime], [ViewTime], [CreateBy], [MetaTitle], [MetaDescription], [MetaKeyword]) VALUES (1, NULL, N'can-ho-mau', N'Căn hộ mẫu', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 2, CAST(N'2019-07-09T19:48:29.197' AS DateTime), NULL, N'Admin', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Picture] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotion] ON 

INSERT [dbo].[Promotion] ([Id], [Title], [PreTitle], [Description], [ButtonTop], [ButtonBottom], [Status], [Position], [CreateTime], [CreateBy], [Avatar]) VALUES (1, N'titlte', N'pre title', N'des', N'top', N'bottom', 1, 1, NULL, N'admin', NULL)
SET IDENTITY_INSERT [dbo].[Promotion] OFF
GO
SET IDENTITY_INSERT [dbo].[Slideshow] ON 

INSERT [dbo].[Slideshow] ([SlideshowID], [Title], [Description], [Avatar], [Thumb], [Status], [Position], [Url], [CreateTime], [CreateBy]) VALUES (4, N'Căn hộ bcons suối tiên', N'Căn hộ bcons suối tiên', N'/fileuploads/Slide/Avatar/815ef1fe-b422-4b5b-a2ee-182cef60291c.jpeg', N'/fileuploads/Slide/Thumb/815ef1fe-b422-4b5b-a2ee-182cef60291c.jpeg', 1, 2, N'http://localhost:52714/tin-tuc/chi-tiet/bcons-suoi-tien-dot-pha-voi-can-ho-tu-800-trieu', CAST(N'2020-11-22T00:56:37.250' AS DateTime), N'Admin')
INSERT [dbo].[Slideshow] ([SlideshowID], [Title], [Description], [Avatar], [Thumb], [Status], [Position], [Url], [CreateTime], [CreateBy]) VALUES (5, N'Căn hộ bcons suối tiên', N'Căn hộ bcons suối tiên', N'/fileuploads/Slide/Avatar/4c66410c-70b4-45f3-8638-1df786c9826b.jpeg', N'/fileuploads/Slide/Thumb/4c66410c-70b4-45f3-8638-1df786c9826b.jpeg', 1, 3, NULL, CAST(N'2020-11-22T00:58:34.337' AS DateTime), N'Admin')
INSERT [dbo].[Slideshow] ([SlideshowID], [Title], [Description], [Avatar], [Thumb], [Status], [Position], [Url], [CreateTime], [CreateBy]) VALUES (6, N'Căn hộ bcons suối tiên', N'Căn hộ bcons suối tiên', N'/fileuploads/Slide/Avatar/7de5be6d-f2c5-48e4-bb12-a06969946231.jpeg', N'/fileuploads/Slide/Thumb/7de5be6d-f2c5-48e4-bb12-a06969946231.jpeg', 1, 2, N'http://localhost:52714/tin-tuc/chi-tiet/bat-dong-san-binh-duong-dang-bat-dong', CAST(N'2020-11-22T00:56:58.777' AS DateTime), N'Admin')
SET IDENTITY_INSERT [dbo].[Slideshow] OFF
GO
ALTER TABLE [dbo].[About]  WITH CHECK ADD  CONSTRAINT [FK_About_Account] FOREIGN KEY([CreateBy])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[About] CHECK CONSTRAINT [FK_About_Account]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_AccountCategory] FOREIGN KEY([AccountCategoryID])
REFERENCES [dbo].[AccountCategory] ([AccountCategoryID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_AccountCategory]
GO
ALTER TABLE [dbo].[Article]  WITH CHECK ADD  CONSTRAINT [FK_Article_Account] FOREIGN KEY([CreateBy])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[Article] CHECK CONSTRAINT [FK_Article_Account]
GO
ALTER TABLE [dbo].[Picture]  WITH CHECK ADD  CONSTRAINT [FK_Picture_Account] FOREIGN KEY([CreateBy])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[Picture] CHECK CONSTRAINT [FK_Picture_Account]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Account] FOREIGN KEY([CreateBy])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Account]
GO
ALTER TABLE [dbo].[ProductType]  WITH CHECK ADD  CONSTRAINT [FK_ProductType_Account] FOREIGN KEY([CreateBy])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[ProductType] CHECK CONSTRAINT [FK_ProductType_Account]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_Account] FOREIGN KEY([CreateBy])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_Account]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [FK_Promotion_Account] FOREIGN KEY([CreateBy])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [FK_Promotion_Account]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_Service_Account] FOREIGN KEY([CreateBy])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_Service_Account]
GO
ALTER TABLE [dbo].[Slideshow]  WITH CHECK ADD  CONSTRAINT [FK_Slideshow_Account] FOREIGN KEY([CreateBy])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[Slideshow] CHECK CONSTRAINT [FK_Slideshow_Account]
GO
